nav {
    min-height: 10vh;
    font-family: "RM Neue Bold", "RM Neue";
    font-size: large;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.login_button {
    text-decoration: none;
    color: #43526e;
    margin-left: auto;
    margin-right: 65px;
    border: 2px solid #43526e;
    border-radius: 100px;
    min-height: 40px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button:hover {
    color: #3e31fa;
    border-color: #3e31fa;
}

.nav-list li {
    margin: 0 25px;
}

.nav-list li > a {
    text-decoration: none;
    color: #43526e;
}

.nav-list li > a:hover {
    color: #3e31fa;
}

.nav-list li img {
    height: 45px;
    width: auto;
}
