body {
    font-family: "RM Neue Bold", "RM Neue";
    color: #0f2145;
}

.header {
    height: 15vh;
    display: flex;
    border-bottom: 3px solid #e3e3e3;
    background-image: url("https://publish-p47754-e237306.adobeaemcloud.com/content/dam/common/statics/public-content/internet/web/rm-spa-web/images/header/bg-sub-header.app.png?$Desktop$&wid=1440"),
        linear-gradient(90deg, #fbfdff, #fbfdff);
}

.header h1 {
    margin-bottom: 0;
    margin-top: 5vh;
    margin-left: 22%;
    font-size: 3rem;
}

.header img {
    margin-left: auto;
    margin-top: auto;
    height: 100%;
    width: auto;
}

.content {
    /* margin-left: 15%; */
    max-width: 42%;
    align-self: center;
}

.content p {
    margin: 20px 0;
    font-size: 1.25rem;
    color: #43526e;
    font-family: "RM Neue Light";
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.6;
}

.content h3 {
    color: #29395a;
    margin: 20px 0 12px 0;
}

.content a {
    color: #3e31fa;
    font-size: inherit;
}

@media screen and (max-width: 600px) {
    .content {
        margin-left: 10px;
        align-self: auto;
        max-width: 100%;
    }
    .header {
        height: 7vh;
        align-items: center;
    }
    .header h1 {
        margin: 0 0 0 20px;
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1rem;
    }
}
