body {
    font-family: "RM Neue Bold", "RM Neue";
}

.main-page {
    /* background-color: #0F2145; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-article {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    width: 85%;
    background-color: #f3f5f8;
    border-radius: 50px;
}

.main-article h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 30px;
    padding: 0;
    text-align: center;
    color: #0f2145;
}

.main-image {
    width: 60%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-radius: 50px; */
}

.secondary-article {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 70%;
    background-color: #f3f5f8;
    border-radius: 50px;
}

.secondary-article-image {
    width: 50%;
    height: auto;
    margin-left: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.secondary-article h2 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 60px;
    padding: 0 20px;
    text-align: center;
    color: #0f2145;
}

.separator {
    margin: 100px 0;
    height: 160px;
    width: 100%;
    background-color: #e1e5ea;
}

.trophies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3e31fa;
}

.trophies-card {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px 0;
    padding: 0;
}

/* #3e31fa - titles category color */
.trophies > h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #3e31fa;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    width: 80%;
}

.titles-won {
    display: flex;
    gap: 2.5rem;
    /* flex-direction: column; */
    margin: 20px 0;
    width: 100%;
}

.titles-won > img {
    width: 60%;
    height: auto;
    border-radius: 40px;
    object-fit: cover;
}

.titles-list {
    align-self: center;
}

.titles-list > p {
    font-size: x-large;
    margin: 0;
}

.titles-list ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 250px;
}

.titles-list ol li {
    color: #5e6a83;
    font-weight: lighter;
    font-size: smaller;
}

.trophies-number {
    display: flex;
    align-items: center;
    gap: 0.23rem;
    font-size: xx-large;
    color: #0f2145;
}

.trophies-number span {
    align-items: center;
}

.title-card p {
    margin: 0;
}

.list-columns {
    display: flex;
    gap: 1.5rem;
}
