body {
    font-family: "RM Neue Bold", "RM Neue", Arial;
    color: #0f2145;
}

.header {
    height: 15vh;
    display: flex;
    border-bottom: 3px solid #e3e3e3;
    background-image: url("https://publish-p47754-e237306.adobeaemcloud.com/content/dam/common/statics/public-content/internet/web/rm-spa-web/images/header/bg-sub-header.app.png?$Desktop$&wid=1440"),
        linear-gradient(90deg, #fbfdff, #fbfdff);
}

.header h1 {
    margin-bottom: 0;
    margin-top: 5vh;
    margin-left: 22%;
    font-size: 3rem;
}

.header img {
    margin-left: auto;
    margin-top: auto;
    height: 100%;
    width: auto;
}

.main-page {
    /* background-color: #0F2145; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-article {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    width: 85%;
    background-color: #f3f5f8;
    border-radius: 50px;
}

.main-article h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #0f2145;
    margin-left: 5%;
}

.main-image {
    width: 60%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-radius: 50px; */
}

.secondary-article {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    width: 70%;
    /* height: 300px; */
    background-color: #f3f5f8;
    border-radius: 50px;
}

.secondary-article-image {
    width: 50%;
    height: auto;
    margin-left: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.secondary-article h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #0f2145;
    margin: 0 60px;
}

.separator {
    margin: 100px 0;
    height: 160px;
    width: 100%;
    background-color: #e1e5ea;
}

@media screen and (max-width: 600px) {
    .header {
        height: 7vh;
        align-items: center;
    }
    .header h1 {
        margin: 0 0 0 20px;
        font-size: 2.5rem;
    }

    /* .content {
        margin-left: 10px;
        align-self: auto;
        max-width: 100%;
    }

    .content p {
        font-size: 1rem;
    } */
}
