body {
    font-family: "RM Neue Bold", "RM Neue";
    color: #0f2145;
}

.header {
    height: 15vh;
    display: flex;
    border-bottom: 3px solid #e3e3e3;
    background-image: url("https://publish-p47754-e237306.adobeaemcloud.com/content/dam/common/statics/public-content/internet/web/rm-spa-web/images/header/bg-sub-header.app.png?$Desktop$&wid=1440"),
        linear-gradient(90deg, #fbfdff, #fbfdff);
}

.header h1 {
    margin-top: 68px;
    margin-left: 22%;
    font-size: 3rem;
}

.header img {
    margin-left: auto;
    margin-top: auto;
    height: 100%;
    width: auto;
}


@media screen and (max-width: 600px) {
    .header {
        height: 7vh;
        align-items: center;
    }
    .header h1 {
        margin: 0 0 0 20px;
        font-size: 2.5rem;
    }

    /* .content {
        margin-left: 10px;
        align-self: auto;
        max-width: 100%;
    }

    .content p {
        font-size: 1rem;
    } */
}